<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basara.dao.CloudSongDao">
    <!-- 默认同名映射，不同名这如下解决 -->
    <resultMap id="result" type="com.basara.meta.CloudSong" >
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="duration" property="duration" />
        <result column="lyrics" property="lyrics" />
        <result column="url" property="url" />
        <result column="tag" property="tag" />
    </resultMap>
    <resultMap id="result2" type="com.basara.meta.Singer" >
        <association property="result" resultMap="result" />
    </resultMap>

    <parameterMap id="sad" type="sd">
        <parameter property="sd"/>
        <parameter property="sa"/>
    </parameterMap>
    <!--可重用的SQL代码段-->
    <sql id="song_column">(singerId, title, duration, lyrics, url, tag)</sql>

    <insert id="add" parameterType="com.basara.meta.CloudSong" useGeneratedKeys="true" keyProperty="id">
        insert into TB_Content_CloudSong
        (singerId, title, duration, lyrics, url, tag)
        values
        (#{singerId}, #{title}, #{duration}, #{lyrics}, #{url}, #{tag})
    </insert>

    <select id="selectById" parameterType="long" resultType="com.basara.meta.CloudSong">
        select * from TB_Content_CloudSong where id = #{id}
    </select>

    <update id="update" parameterType="com.basara.meta.CloudSong">
        update TB_Content_CloudSong set singerId = #{singerId}, title = #{title}, duration = #{duration},
        lyrics = #{lyrics}, url = #{url}, tag = #{tag} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        delete from TB_Content_CloudSong where id = #{id}
    </delete>

    <!--缓存默认LRU（最低活跃度淘汰）， 无定时刷新， 1024个缓存对象， 只读为false（都返回对象的拷贝），缓存是和namespace绑定的，
    相同命名空间所有语句被绑定到同一个cache上 -->
    <cache eviction="LRU" flushInterval="12000" size="4096" readOnly="true"/>
</mapper>