<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
        <!-- 这里用resource不知道为什么老是报错 -->
        <!--<mapper resource="com/basara/dao/mapper/CloudSongMapper.xml" />-->
        <mapper url="file:///D:/gitRepo/Basara/springmvc/src/main/java/com/basara/dao/mapper/CloudSongMapper.xml"/>
    </mappers>
</configuration>